/*----------------------------
	Variables
-----------------------------*/

$white      : #fff;
$black      : #000;
$gorse      : #ffff4d;
$plantation : #264347;


// Functional colour variables

$color-primary : $white;
$color-text-header : $gorse;
$color-secondary : $plantation;
